<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
<ul>
  <li><a th:href="@{/login}">Login</a></li>
  <li><a th:href="@{/create}">Create a New Fox</a></li>
  <li><a th:href="@{/nutritionStore(name=${fox.name})}">Nutrition Store</a></li>
  <li><a th:href="@{/trickCenter(name=${fox.name})}">Trickcenter</a></li>
</ul>
<br>
<img src="greenfox.png">
<p th:text="|This is ${fox.name}. Currently living on ${fox.food} and ${fox.drink}. He knows ${fox.tricks.size()} tricks.|"></p>
<h1 th:text="'Known tricks'"></h1>
<ul>
  <li>
    <p th:text="${fox.tricks}"></p>
  </li>
</ul>
</body>
</html>