<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TrickCenter</title>
</head>
<body>
<a th:href="@{/login}">Login</a>
<a th:href="@{/create}">Create a New Fox</a>
<a th:href="@{/nutritionStore(name=${name})}">Nutrition Store</a>
<br>
<div>
  <th:block>
    <form action="#" th:action="@{/trickCenter(name=${name})}" th:method="post">
      <label>Add a trick:</label>
      <select name="trickToAdd">
        <option th:each="trick : ${trickList}" th:text="${trick}" th:value="${trick}"></option>
      </select>
      <button type="submit">Learn</button>
    </form>
  </th:block>
</div>
</body>
</html>