<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title>Submit a new post</title>
</head>
<body>
<h1 th:style="'text-align: center'">Submit a new post</h1>
<form th:action="@{/submit}" th:method="post" th:object="${post}">
  <th:block>
  <label>Title:</label>
  <input type="text" th:field="*{title}" required>
  <label>URL:</label>
  <input type="text" th:field="*{link}" required>
  <button type="submit">Submit</button>
  </th:block>
</form>
<a th:href="@{/}">Back to posts</a>
</body>
</html>