<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Books</title>
  <meta charset="utf-8"/>
</head>
<body>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>AnimalType</th>
      <th>Index</th>
      <th>Good/Bad?</th>
    </tr>
    <tr th:each="account : ${accounts}" th:style="${account.isKing() ? 'background-color: yellow' : 'color:black'}">
      <div th:switch="${account.isGoodGuy()}">
        <td th:text="${account.getName()}"></td>
        <td th:text="${account.getBalance()}"> </td>
        <td th:text="${account.getAnimalType()}"></td>
        <td th:text="${accountStat.index}" ></td>
        <td th:case="false">Bad guy</td>
        <td th:case="true">Good guy</td>
      </div>
    </tr>
  </table>
</div>
</body>
</html>